{
	"env": {
		"es2021": true,
		"browser": true,
		"commonjs": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime"],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"no-unused-vars": "warn",
		"react/prop-types": 0,
		"no-inner-declarations": "off",
		"no-mixed-spaces-and-tabs": "off"
	}
}
